.center {
  width: calc(100% - 390px);
  padding-left: 130px;
  padding-right: 30px;
  padding-bottom: 120px;
}

.rs {
  width: 390px;
  overflow-y: auto;
  text-align: left;
  z-index:10;
  padding-bottom: 84px;
}


.outscreen {
  position: fixed;
  left: -99999px;
  top: -99999px;
  z-index: -10000;
}

.bottom {
  height: 84px;
  width: 100%;
  border-top: 1px solid #DFDFDF;
  background-color: #fff;
  position: fixed;
  left: 0;
  bottom: 0;
  z-index: 10;
}

/* element */
.flex-center {
  display: flex;
  align-items: center;
  justify-content: center;
}


@media only screen and (min-width: 1920px) {
  /* .ls {
    width: 390px;
    height: 100vh;
  } */

  .center {
    width: calc(70vw - 390px);
    height: 100vh;
  }

  .rs {
    width: 390px;
    height: 100vh;
  }

}