@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    font-size: 12px;
}

.ellipsis {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.search-bar {
    @apply flex h-16;
  }